In [27]:
from  skimage import io
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import os
import glob
df = pd.DataFrame()
imgs = []
labels = []
for filename in glob.iglob('../data/FaceDataset/FaceDataset/train/**', recursive=True):
    if os.path.isfile(filename): # filter dirs
        imgs.append(io.imread(filename))
        labels.append(int(filename.split('\\')[-2][-3:]))

df['img'] = imgs
df['label'] = labels
df

                                                    img  label
0     [[[151, 140, 122], [148, 139, 122], [239, 230,...      3
1     [[[61, 61, 59], [61, 61, 59], [61, 61, 59], [6...      3
2     [[[125, 118, 92], [129, 122, 96], [125, 119, 9...      3
3     [[[60, 50, 41], [57, 47, 38], [55, 45, 36], [4...      3
4     [[[47, 33, 30], [47, 33, 30], [47, 33, 30], [4...      3
...                                                 ...    ...
4293  [[[81, 127, 160], [82, 128, 161], [84, 129, 16...    125
4294  [[[200, 155, 124], [200, 157, 123], [197, 157,...    125
4295  [[[1, 3, 2], [0, 2, 1], [0, 2, 1], [0, 1, 0], ...    125
4296  [[[252, 183, 186], [252, 183, 186], [252, 183,...    125
4297  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...    125

[4298 rows x 2 columns]

divide into train val

In [31]:
# from sklearn.model_selection import train_test_split
# X= df['img']
# y= df['label']

# X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42, stratify = y)
# X_test

# train_df = pd.DataFrame()
# train_df['img'] = X_train
# train_df['label'] = y_train
# train_df.to_csv('../data/train.csv', index=False)

# test_df = pd.DataFrame()
# test_df['img'] = X_test
# test_df['label'] = y_test
# test_df.to_csv('../data/test.csv', index=False)